html, body, div, span, object, h1, h2 ,h3,h4,h5,h6,p,b,u,i,center,ol,ul,li,table,caption{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

html{height: 100%;}
body{
	height: 100%;
	background-color: #FFF;
	font-size: 100%;
}

ol, ul {list-style: none;}
*{
	margin: 0;
	padding: 0;
	outline: none;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

a, a:hover{text-decoration: none;}

.container:before,
.container:after,
.row:before,
.row:after,
.clearfix:before,
.clearfix:after{
	content: " ";
	display: table;
}

.row:after,
.clearfix:after {clear:both;}


.left{float: left;}
.right{float: right;}



.container {
  
  margin-right: auto;
  margin-left: auto;
	width: 90%;
	
}






.cols{
	float: left;
	margin: 0 0 1em;
	padding: 0 1em;
	
	text-align: center;
	/* word-wrap:break-word;*/
}



.col-1{width: 100%}
.col-2{width: 100%}
.col-3{width: 100%}
.col-4{width: 100%}
.col-5{width: 100%}
.col-6{width: 100%}
.col-7{width: 100%}
.col-8{width: 100%}
.col-9{width: 100%}
.col-10{width: 100%}
.col-11{width: 100%}
.col-12{width: 100%}


@media screen and (min-width:){
	
	
.col-1{width:8.333333333333%}
.col-2{width: 16.666666666666%}
.col-3{width: 25%}
.col-4{width: 33.333333333333%}
.col-5{width: 41.666666666665%}
.col-6{width: 50%}
.col-7{width: 58.333333333331%}
.col-8{width: 66.666666666664%}
.col-9{width: 74.999999999997%}
.col-10{width: 83.33333333333%}
.col-11{width: 91.666666666663%}
.col-12{width: 100%}
	
	
	
}



.header{
	min-height: 100%;
	height: auto;
	background: white url(../img/bg.png) no-repeat center ;
	 width: 100%;
    
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	text-align: center;

	
}

/*---------- NAV ---------------*/

.navbar{text-align: center; width: 100%; height: auto;padding: 2% 0; background-color: black;}

.navbar a{color: white; font-family: "Arial", sans-serif; font-size: 1.2em;}

.nav{display: none;}

.nav li{margin-top: 5%;}

#menu-trigger{ margin-top: 4%; margin-bottom: 2%; font-size: 2em; cursor: pointer;}


/* Shrink */
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
cursor: pointer;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}



/*!!!----  MEDIA FOR NAV -----!!*/

@media screen and (min-width:500px){
    .nav{display: block; margin: 3% 0;}
    .nav li{display: inline; margin: 5% 2%; }
    
   
    #menu-trigger{display: none;}
}

@media screen and (min-width:768px){
    .nav{display: block; margin: 2% 0;}
   
}

@media screen and (min-width:1024px){
    .navbar {text-align: right;}
    #logo1{float: left;margin-left: 5%;}
    .nav{margin: 0; margin-right: 5%;}
}

/*---------- NAV END -------------------*/

/*========== HOME SECTION ====================*/

.hoveSection {margin-top: 5%;}

#logo2{display: none;}

.hoveSection h1{margin-top:3%; color: #e0e0e1; font-size: 1.5em; }

.hoveSection p { margin-top: 4%; color: #aaaaab; }

.homeBtn { background: none; border: 1px silver solid; padding: 10px 30px; margin-top: 5%; font-size: 1.3em; color: white;}




.formsDew{
    
    border-radius: 15px;
    
    background-color: #ffffff;
    text-align: center;
}

#formsDewOne{background-color: #f5f5f5; width: 100%; }
#styleh2 {padding: 5% 0; font-family: "Andale Mono", monospace; font-size: 1.2em;}

#freespan{color: #ff9b51;}

#inputs{
    
    width: 94%;
    padding: 5% 0;
}


.inputCss {
    width: 90%;
    background: none;
    border:none;
    border-bottom: 1px #d6d6d6 solid;
    margin: 6% 0;
}

.inputCss:hover { border-bottom: 1px #ff9b51 solid; }
.inputCss:focus { border-bottom: 1px #ff9b51 solid; }

.getstarted{
    cursor: pointer;
    width: 100%; padding: 5% 0;
    background: none;
    border: none;
    background-color: #ff9b51;
    font-size: 1.1em;
    color: white;
}

.getstarted:hover{box-shadow: 0 0 20px rgba(113, 159, 191, 0.7); /* Параметры тени */}


/* Ripple Out */
@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
.hvr-ripple-out {
    
    cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
}
.hvr-ripple-out:before {
  content: '';
  position: absolute;
  border: #e1e1e1 solid 1px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
}



/*!!!----  MEDIA FOR HOME SECTION -----!!*/

@media screen and (min-width:500px){
    .formsDew{width: 80%;}
    .col-6{width: 50%;}
}

@media screen and (min-width:768px){
    .col-6{width: 50%;}
    #leftHomesection{text-align: left;}
    #logo2{display: block;}
    .formsDew{width: 80%;}
}

@media screen and (min-width:1024px){
    .formsDew{width: 70%;}
   .hoveSection {margin-top: 10%;}
    
    .hoveSection h1{font-size: 2em;margin-bottom: 3%;}
    .hoveSection p{font-size: 1.1em;}
}


/*========== HOME SECTION END ====================*/

/*--------- brandBar ------------*/

.brandBar {
    padding: 6% 0;
    
    text-align: center;
    background-color: #ffffff;
    
    border-bottom: 2px #b7b7b7 solid;
}

.brandBar h2{ color: #333333; font-size: 1.8em; margin-bottom: 4%; }

.brandBar p{color: #a9aaac;}

.icons{ margin-top: 6%;}
.icons li{display: inline; margin-left: 2%;}

.brandBar .fa{
    color: #cccccc;
    font-size: 1.6em;
}



@media screen and (min-width:500px){
    .brandBar {padding: 3% 0;}
    .brandBar h2{margin-bottom: 3%;}
    .icons{ margin-top: 3%; }
  
}

@media screen and (min-width:768px){
 #iconstext{float: left; text-align: left; width: 40%;}
    .brandBar .fa{font-size: 2em;}

}
@media screen and (min-width:1024px){
    .brandBar {padding: 2% 0; text-align: right;}
    .brandBar h2{margin-bottom: 1%; font-size: 2em; }
    .icons{ margin-top: 1%; margin-right: 7%; }
    .brandBar .fa{font-size: 2.3em;}
    .icons li{ margin-left: 3%;}
    
    #iconstext{float: left; text-align: left; width: 40%;}
}
/*--------- brandBar END ------------*/



/*======== TABS =========*/

.tabsSection{ background-color: #f5f5f5; text-align: center;padding-bottom: 2%;}


.etabs{padding: 8% 0; }
.etabs li{margin-top: 5%;}

.tab a{color: white; background-color: #333333; padding: 15.6%; border-bottom: 1px #c7c7c7 solid; }
.tab a:hover{background-color: #ff8b38;

    -webkit-transition:1s;
     -moz-transition: 1s;
     -o-transition: 1s;
     transition: 1s;
    
}
.tab a.active { box-shadow: 0 0 20px rgba(113, 159, 191, 0.7); /* Параметры тени */ background-color: #ff8b38;  }

.tabsContent {margin-top: 9%; }
.tabsContent h2{font-size: 1.3em; font-family: "Arial", sans-serif;margin-bottom: 5%;}
.tabsContent p{color: #8e8f93; margin-bottom: 6%;}

#tabsBTN{background-color: #ff8b38; color: white; padding: 10px 25px; border-radius: 5px; margin-top: 6%; cursor: pointer;}
#tabsBTN:hover{ background-color: black; 
 -webkit-transition:1s;
     -moz-transition: 1s;
     -o-transition: 1s;
     transition: 1s;
}
.tabsContent img{max-width: 100%;height: auto; display: none}
.col-6{width: 100%;}



/*!!!!!!!! MEDIA FOR TABS !!!!!!!!!!!*/

@media screen and (max-width:768px){
    .etabs li{display: inline;}
    .tab a{color: white; background-color: #333333; padding: 4%; border-bottom: 1px #c7c7c7 solid; }
}



@media screen and (min-width:768px){
    .tabsContent h2{margin-top: 5%; }
    .tabsContent p{margin-bottom: 8%; }
    .tabsContent{text-align: left;width: 80%;float: right; margin-top: 0;padding: 6% 0;}
    .etabs{float: left; width: 20% }
    .etabs li{list-style: block; padding: 10%;   }
    
    .tab a {overflow:inherit;}
    
    .tabsContent img{display: block;  }
    .col-6{width: 50%;}
    
    #tabs1-html h2{text-align: left;}
#tabs1-html p{text-align: left;}

#tabs1-js h2{text-align: left;}
#tabs1-js p{text-align: left;}

#tabs1-css h2{text-align: left;}
#tabs1-css p{text-align: left;}
    
}

/*======== TABS  END=========*/


/*--------------- sablistSection ---------------------*/
.sablistSection{text-align: center; padding: 5% 0;}
#sablistImgg{max-width: 100%; height: auto; display: none;}

#raigtSectionsforSablist{text-align: center;}

.sablistSection h2{font-size: 1.3em; font-family: "Arial", sans-serif;margin-bottom: 4%;}
.sablistSection p{color: #98999c; margin-top: 4%;}

#sablistinfo h2{margin-top: 5%;}

.fa-cloud-download{color: #ff8b38;  }

@media screen and (min-width:500px){
    #sablistImgg{display: block;}
    
}
@media screen and (min-width:768px){
    #raigtSectionsforSablist{text-align: left;}
    #sablistinfo p{ margin-left: 21%;}
  
    
    .fa-cloud-download{padding: 3%; margin-right: 9%;  color: #ff8b38; border: 1px #ff8b38 solid; border-radius: 50%;  }
}


.standatrpicture{text-align: center; padding: 5% 0; background-color: #f5f5f5;}
.standatrpicture h2{font-size: 1.3em; font-family: "Arial", sans-serif;margin-bottom: 4%;margin-top: 10%;}
.standatrpicture p{color: #98999c; margin-top: 4%;}

@media screen and (min-width:768px){

    #leftsectionpicture{text-align: left;}
    .standatrpicture p{width: 80%;}
}

/*--------------- sablistSection END ---------------------*/

/*================== OurProcess  ========================*/
.OurProcess{ padding: 5% 0; text-align: center;}

.OurProcess h1{font-size: 1.5em;color: #212121; margin-bottom: 2%; font-family: "Lucidatypewriter",monospace;}
.OurProcess p{ color: #86878b; margin-top: 1%;}

.OurProcess h2{font-size: 1.3em; font-family: "Arial", sans-serif;margin-bottom: 4%;margin-top: 10%;}

.fa-lightbulb-o,
.fa-keyboard-o,
.fa-bolt{
    
    color: #ff8b38; font-size: 3em;
}

@media screen and (min-width:500px){
    
    .col-4{width:33.333333333333%; }
    .fa-lightbulb-o,
.fa-keyboard-o,
    .fa-bolt{
        padding-top: 3%;
    }
    .OurProcess p{margin-bottom: 4%;}
}

@media screen and (min-width:1024px){
    
    .OurProcess h1{font-family: "Lucidatypewriter",monospace; font-size: 2em;}
}
/*================== OurProcess END  ========================*/

/*------------------- Pricing  ---------------------------------*/


.Pricing{ padding: 5% 0; text-align: center; background-color: #f5f5f5; }

.Pricing h1{font-size: 1.5em;color: #212121; margin-bottom: 2%; font-family: "Lucidatypewriter",monospace; }
.Pricing p{ color: #86878b; margin-top: 1%;}

.Pricing h2{ padding: 4% 0; background-color: #333333;border-bottom: 1px #fff solid; color: white; font-family: monospace;
font-size: 1.7em;
}

.Pricing h3{ padding: 8% 0; background-color: #333333; border-bottom: 4px #ff8b38 solid;  color: white; 
    font-size: 6em;
}

#usd{font-size: 0.3em;}

.Pricing h5{ padding: 3% 0; background-color: #ffffff; border-bottom: 1px #86878b solid; color: #86878b; text-transform: uppercase; 
    font-family: "Arial", sans-serif;
}

.Pricing h4{background-color: #ff8b38; color: white; padding: 4% 0; }


#firstPrise{  margin-top:5%;  }
#secondPrise{  margin-top:5%;  }
#threePrice{ margin-top:5%; }


@media screen and (min-width:768px){
    
    .Pricing h1{font-family: "Lucidatypewriter",monospace; font-size: 2em;}
    .Pricing h2{padding: 2$ 0;}
    .Pricing h3{ padding: 6% 0; }
    .Pricing h5{padding: 2% 0;}
    
    .col-4{width:33.333333333333%; }
    
    #firstPrise{  margin-top:9%;  }
    #threePrice{ margin-top:9%; }
    
    
}

/*------------------- Pricing END  ---------------------------------*/

.Testimonials {padding: 5% 0; text-align: center;}

.Testimonials img{max-width: 100%; height: auto;}

.Testimonials h1{font-family: "Lucidatypewriter",monospace; font-size: 1.5em;}

.Testimonials p{ color: #86878b; margin: 3% 0;  }

.Testimonials h3{ color: #86878b; margin-top: 1%; background-color: #f5f5f5; padding: 5% 0; border-radius: 5px; margin-bottom: 3%; z-index: 1;position: relative;   }

.Testimonials h2{font-size: 1.2em; margin-top: 2%; font-family: "Helvetica", sans-serif; }

.Testimonials h4{color: #a9aaac; font-family: cursive; }

@media screen and (min-width:1024px){
    .Testimonials h3{padding: 7% 2%; width: 80%; }
    .Testimonials img {margin-top: 4%;}
}



.fa-caret-down {margin-bottom: -35%; z-index: 3;position: relative; color: #dddbdb;}




.parallax{
	min-height: 50%;
	height: auto;
	background: white url(../img/parallax.png) no-repeat center bottom ;
	 width: 100%;
    background-attachment: fixed;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	text-align: center;
    padding-bottom: 5%;
	
}

.parallax h1{
   font-family: "Lucidatypewriter",monospace; font-size: 1.5em; margin: 5% 0; color: #dddcdb;
    
}
.parallax p{ color: #c0c0be; margin: 3% 0;  }

@media screen and (min-width:768px){
    .parallax h1{margin-top: 5%; margin-bottom: 3%; margin-left: 20%; margin-right: 20%; font-size: 2em; }
    .parallax p {margin: 2% 0;}
}
@media screen and (min-width:1024px){
    .parallax h1{margin-top: 5%; margin-bottom: 2%; margin-left: 20%; margin-right: 20%; font-size: 2em; }
    .parallax p {margin: 1% 0;}
}



.contactUs{padding: 5% 0; text-align: center};

.contactInputStyle {
    width: 100%;
    
}

.massager{width: 80%;
    
 border: none;
    border-bottom: 2px #d6d6d6 solid;
    
  
  
    
    padding-bottom: 15%;

}

.massager:hover{
    border-bottom: 2px #ff9b51 solid;
}
.massager:focus{
    border-bottom: 2px #ff9b51 solid;
}


.contactt{width: 80%; 
    
    margin-top: 5%;
    padding: 3%;
    border: none;
    border-bottom: 2px #d6d6d6 solid;
    
}
.contactt:hover{
    border-bottom: 2px #ff9b51 solid;
}
.contactt:focus{
    border-bottom: 2px #ff9b51 solid;
}
.contactUs h1{
    font-family: "Lucidatypewriter",monospace; font-size: 1.5em; margin: 5% 0; color: #212121;}

.sendMs {padding: 15px 40px; color: white; background-color: #ff9b51; border: none; margin-top: 4%;}
.sendMs:hover{box-shadow: 0 0 20px rgba(113, 159, 191, 0.7)}

@media screen and (min-width:768px){
    .massager{padding-bottom: 30%; margin-top: 9%;} 
    .contactUs h1{margin-top: 5%; margin-bottom: 4%; margin-left: 20%; margin-right: 20%; font-size: 2.2em; }
}



.footer{padding: 3%; text-align: center; background-color: #000000;}
.footer a{color: #cccccc; font-size: 1.5em; margin: 0 1%;}
.footer p{color: #cccccc; margin-top: 2%;}
@media screen and (min-width:768px){
    .footer a{color: #cccccc; font-size: 2em; margin: 0 1%;}
}