html, body, div, span, object, h1, h2 ,h3,h4,h5,h6,p,b,u,i,center,ol,ul,li,table,caption{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

html{height: 100%;}
body{
	height: 100%;
	background-color: #FFF;
	font-size: 100%;
}

ol, ul {list-style: none;}
*{
	margin: 0;
	padding: 0;
	outline: none;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

a, a:hover{text-decoration: none;}

.container:before,
.container:after,
.row:before,
.row:after,
.clearfix:before,
.clearfix:after{
	content: " ";
	display: table;
}

.row:after,
.clearfix:after {clear:both;}


.left{float: left;}
.right{float: right;}



.container {
  
  margin-right: auto;
  margin-left: auto;
	width: 90%;
	
}






.cols{
	float: left;
	margin: 0 0 1em;
	padding: 0 1em;
	
	text-align: center;
	/* word-wrap:break-word;*/
}



.col-1{width: 100%}
.col-2{width: 100%}
.col-3{width: 100%}
.col-4{width: 100%}
.col-5{width: 100%}
.col-6{width: 100%}
.col-7{width: 100%}
.col-8{width: 100%}
.col-9{width: 100%}
.col-10{width: 100%}
.col-11{width: 100%}
.col-12{width: 100%}


@media screen and (min-width:){
	
	
.col-1{width:8.333333333333%}
.col-2{width: 16.666666666666%}
.col-3{width: 25%}
.col-4{width: 33.333333333333%}
.col-5{width: 41.666666666665%}
.col-6{width: 50%}
.col-7{width: 58.333333333331%}
.col-8{width: 66.666666666664%}
.col-9{width: 74.999999999997%}
.col-10{width: 83.33333333333%}
.col-11{width: 91.666666666663%}
.col-12{width: 100%}
	
	
	
}



.header{
	min-height: 100%;
	height: auto;
	background: white url(../img/bg.png) no-repeat center ;
	 width: 100%;
    
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	text-align: center;

	
}

/*---------- NAV ---------------*/

.navbar{text-align: center; width: 100%; height: auto;padding: 2% 0; background-color: black;}

.navbar a{color: white; font-family: "Arial", sans-serif; font-size: 1.2em;}

.nav{display: none;}

.nav li{margin-top: 5%;}

#menu-trigger{ margin-top: 4%; margin-bottom: 2%; font-size: 2em; cursor: pointer;}


/* Shrink */
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
cursor: pointer;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}



/*!!!----  MEDIA FOR NAV -----!!*/

@media screen and (min-width:500px){
    .nav{display: block; margin: 3% 0;}
    .nav li{display: inline; margin: 5% 2%; }
    
   
    #menu-trigger{display: none;}
}

@media screen and (min-width:768px){
    .nav{display: block; margin: 2% 0;}
   
}

@media screen and (min-width:1024px){
    .navbar {text-align: right;}
    #logo1{float: left;margin-left: 5%;}
    .nav{margin: 0; margin-right: 5%;}
}

/*---------- NAV END -------------------*/

/*========== HOME SECTION ====================*/

.hoveSection {margin-top: 5%;}

#logo2{display: none;}

.hoveSection h1{margin-top:3%; color: #e0e0e1; font-size: 1.5em; }

.hoveSection p { margin-top: 4%; color: #aaaaab; }

.homeBtn { background: none; border: 1px silver solid; padding: 10px 30px; margin-top: 5%; font-size: 1.3em; color: white;}




.formsDew{
    
    border-radius: 15px;
    
    background-color: #ffffff;
    text-align: center;
}

#formsDewOne{background-color: #f5f5f5; width: 100%; }
#styleh2 {padding: 5% 0; font-family: "Andale Mono", monospace; font-size: 1.2em;}

#freespan{color: #ff9b51;}

#inputs{
    
    width: 94%;
    padding: 5% 0;
}


.inputCss {
    width: 90%;
    background: none;
    border:none;
    border-bottom: 1px #d6d6d6 solid;
    margin: 6% 0;
}

.inputCss:hover { border-bottom: 1px #ff9b51 solid; }
.inputCss:focus { border-bottom: 1px #ff9b51 solid; }

.getstarted{
    cursor: pointer;
    width: 100%; padding: 5% 0;
    background: none;
    border: none;
    background-color: #ff9b51;
    font-size: 1.1em;
    color: white;
}

.getstarted:hover{box-shadow: 0 0 20px rgba(113, 159, 191, 0.7); /* Параметры тени */}


/* Ripple Out */
@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
.hvr-ripple-out {
    
    cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
}
.hvr-ripple-out:before {
  content: '';
  position: absolute;
  border: #e1e1e1 solid 1px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
}



/*!!!----  MEDIA FOR HOME SECTION -----!!*/

@media screen and (min-width:500px){
    .formsDew{width: 80%;}
    .col-6{width: 50%;}
}

@media screen and (min-width:768px){
    .col-6{width: 50%;}
    #leftHomesection{text-align: left;}
    #logo2{display: block;}
    .formsDew{width: 80%;}
}

@media screen and (min-width:1024px){
    .formsDew{width: 70%;}
   .hoveSection {margin-top: 10%;}
    
    .hoveSection h1{font-size: 2em;margin-bottom: 3%;}
    .hoveSection p{font-size: 1.1em;}
}


/*========== HOME SECTION END ====================*/

.brandBar {
    padding: 6% 0;
    
    text-align: center;
    background-color: #ffffff;
    
    border-bottom: 2px #b7b7b7 solid;
}

.brandBar h2{ color: #333333; font-size: 1.8em; margin-bottom: 4%; }

.brandBar p{color: #a9aaac;}

.icons{ margin-top: 6%;}
.icons li{display: inline; margin-left: 2%;}

.brandBar .fa{
    color: #cccccc;
    font-size: 1.6em;
}



@media screen and (min-width:500px){
    .brandBar {padding: 3% 0;}
    .brandBar h2{margin-bottom: 3%;}
    .icons{ margin-top: 3%; }
  
}

@media screen and (min-width:768px){
 #iconstext{float: left; text-align: left; width: 40%;}
    .brandBar .fa{font-size: 2em;}

}
@media screen and (min-width:1024px){
    .brandBar {padding: 2% 0; text-align: right;}
    .brandBar h2{margin-bottom: 1%; font-size: 2em; }
    .icons{ margin-top: 1%; margin-right: 7%; }
    .brandBar .fa{font-size: 2.3em;}
    .icons li{ margin-left: 3%;}
    
    #iconstext{float: left; text-align: left; width: 40%;}
}